
html {
  font-family: 'Rubik', sans-serif;
  color: rgba(40, 66, 40);
  scroll-behavior: smooth;
}

ul li {
  margin-right: 1em;
  margin-bottom: 0px;
}  

p {
  margin-bottom: 5px;
}

h4 {
  color: rgba(106,69,37);
}


.art-register {

}
.link-button-container {
  background: rgb(154,209,191);
  display: inline-block;
  text-decoration: none;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.link-button-text {
  margin: 10px;
  color: white;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}